<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{~/styles/styles.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <title>Respawn - Formulario de Juego</title>
</head>
<body>
<nav th:replace="components/navbar :: _navbar"></nav>

<main>
  <div class="container">
    <div class="row mt-5">
      <div class="col-12">
        <div class="card">
          <div class="card-body"> <!--Creamos el formulario en el cardbody-->
            <form th:action="@{/formulario/juegos/{id}(id=${juego.id})}" method="post" th:object="${juego}" enctype="multipart/form-data"> <!--th:videojuego -> actua sobre un objeto de videojuego-->
              <div class="row g-3">

                <div class="form-group col-md-3">
                  <label for="nombre">Nombre:</label>
                  <input type="text" class="form-control" id="nombre" th:field="*{nombre}"> <!--th:field -> el campo titulo pertenece a videojuego (object)-->
                  <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
                </div>

                <div class="form-group col-md-3">
                  <label for="categoria">Categoría: </label>
                  <select class="form-control" id="categoria" th:field="*{categoria}">
                    <option th:each="categoria: ${categorias}" th:value="${categoria.id}" th:text="${categoria.nombre}"></option>
                  </select>
                  <div class="text-danger" th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}"></div>
                </div>

                <div class="form-group col-md-3">
                  <label for="plataforma">Plataforma: </label>
                  <select class="form-control" id="plataforma" th:field="*{plataforma}">
                    <option th:each="plataforma: ${plataformas}" th:value="${plataforma.id}" th:text="${plataforma.nombre}"></option>
                  </select>
                  <div class="text-danger" th:if="${#fields.hasErrors('plataforma')}" th:errors="*{plataforma}"></div>
                </div>

                <div class="form-group col-md-3">
                  <label for="idioma">Idioma: </label>
                  <select class="form-control" id="idioma" th:field="*{idioma}">
                    <option th:each="idioma: ${idiomas}" th:value="${idioma.id}" th:text="${idioma.nombre}"></option>
                  </select>
                  <div class="text-danger" th:if="${#fields.hasErrors('idioma')}" th:errors="*{idioma}"></div>
                </div>

                <!--          -->
                <div class="form-group col-md-12">
                  <label for="imagenPortada" class="form-label">Link de Imagen de Portada: </label>
                  <input type="text" class="form-control" id="imagenPortada" th:field="*{imagenPortada}">
                  <div class="text-danger" th:if="${#fields.hasErrors('imagenPortada')}" th:errors="*{imagenPortada}"></div>
                </div>

                <div class="form-group col-md-12">
                  <label><input type="checkbox" id="oferta" th:field="*{oferta}"> Oferta</label>
                </div>

                <div class="form-group col-md-3">
                  <label for="precioConDescuento">Precio con descuento:</label>
                  <input type="number" class="form-control" id="precioConDescuento" th:field="*{precioConDescuento}">
                  <div class="text-danger" th:if="${#fields.hasErrors('precioConDescuento')}" th:errors="*{precioConDescuento}"></div>
                </div>

                <div class="form-group col-md-3">
                  <label for="precioSinDescuento">Precio:</label>
                  <input type="number" class="form-control" id="precioSinDescuento" th:field="*{precioSinDescuento}">
                  <div class="text-danger" th:if="${#fields.hasErrors('precioSinDescuento')}" th:errors="*{precioSinDescuento}"></div>
                </div>

                <div class="form-group col-md-3">
                  <label for="tamanio">Tamaño:</label>
                  <input type="number" class="form-control" id="tamanio" th:field="*{tamanio}">
                  <div class="text-danger" th:if="${#fields.hasErrors('tamanio')}" th:errors="*{tamanio}"></div>
                </div>

                <div class="form-group col-md-3">
                  <label for="fechaLanzamiento">Fecha de Lanzamiento:</label>
                  <input type="date" class="form-control" id="fechaLanzamiento" th:field="*{fechaLanzamiento}">
                  <div class="text-danger" th:if="${#fields.hasErrors('fechaLanzamiento')}" th:errors="*{fechaLanzamiento}"></div>
                </div>


                <div class="form-group col-md-12">
                  <label for="descripcion">Descripción:</label>
                  <textarea class="form-control" id="descripcion" rows="5" th:field="*{descripcion}"></textarea>
                  <div class="text-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
                </div>
              </div>

              <div class="row m-3">
                <div class="col-md-6">
                  <button class="btn btn-outline-secondary" type="reset" style="width:100%">Resetear <!--Resetear el formulario -->
                    Formulario
                  </button>
                </div>
                <div class="col-md-6">
                  <button class="btn btn-success" type="submit" style="width:100%">Guardar</button> <!--Guardar el formulario -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<footer th:replace="components/footer"></footer>
</body>
</html>