<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - Respawn - Tienda de videojuegos</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/img/respawn_logo.PNG}"/>
    <link rel="stylesheet" type="text/css" th:href="@{styles/styles.css}">
</head>
<body>
    <nav th:replace="components/navbar :: _navbar"></nav>

    <main>
        <div class="login__outer__container">
            <div class="login__container">
                <form th:action="@{/doLogin}" method="post" style="max-width: 400px; margin: 0 auto;">
                    <p>
                        E-mail: <input type="email"  name="email" required />
                    </p>
                    <p>
                        Password: <input type="password" name="password" required />
                    </p>
                    <p>
                        <input type="submit" value="Login" />
                    </p>
                </form>
            </div>
        </div>
    </main>
    <footer th:replace="components/footer"></footer>
</body>
</html>