<footer th:fragment="_footer">
    <div class="footer__container">
        <div class= "footer_upper" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
            <a>Trabaja con nosotros</a>    
            <a>¿Cómo comprar?</a>    
            <a>Ayuda</a>    
            <a>Términos y condiciones</a>
        </div>
        <div class="footer__bottom" style="display:flex; flex-direction: row; justify-content: space-between">
            <div class="footer_rights">
                <p>© 2022 Respawn. Todos los derechos reservados.</p>
            </div>
            <div class="footer_social">
                <a href="https://www.instagram.com/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Instagram-Icon.png/800px-Instagram-Icon.png" style="width:23px;height:23px;"></a>
                <a href="https://es-la.facebook.com/"><img src="https://i.pinimg.com/originals/42/75/49/427549f6f22470ff93ca714479d180c2.png" style="width:23px;height:23px;"></a>
            </div>
        </div>  
    </div> 
</footer>

  