<nav th:fragment="_navbar">
    <div class="nav__container">
        <a th:href="@{/}">
            <div>
                <img th:src="@{/img/respawn_logo_2.PNG}" alt="Respawn Logo" class="nav__logo">
            </div>
        </a>
        <ul class="nav__sections">
            <li class="nav__item">
                <a class="nav__link" th:href="@{/}">Tienda</a>
            </li>
        </ul>
        <form th:action="@{/search}" class="search__form">
            <input type="search" placeholder="Buscar un juego" aria-label="Search" name="query">
            <button type="submit" class="nav__btn">
                <img th:src="@{/img/search_icon.png}" alt="Búsqueda" id="search_icon">
            </button>
        </form>
    </div>
</nav>