<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav th:fragment="_navbar">
    <div class="nav__container">
        <a th:href="@{/}">
            <div>
                <img th:src="@{/img/respawn_logo_2.PNG}" alt="Respawn Logo" class="nav__logo">
            </div>
        </a>
        <ul class="nav__sections">
            <li class="nav__item">
                <a class="nav__link" th:href="@{/}">Tienda</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" th:href="@{/}">Ayuda</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" th:href="@{/}">Ofertas</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" th:href="@{/}">Nosotros</a>
            </li>
            <li class="nav__item" sec:authorize="hasAuthority('ADMINISTRADOR')">
                <a class="nav__link" th:href="@{/crud}">Gestionar juegos</a>
            </li>
            <li>
                <form th:action="@{/search}" class="nav__form">
                    <input type="search" placeholder="Buscar un juego" aria-label="Search" name="query" class="search__input">
                    <button type="submit" class="nav__btn">
                        <img th:src="@{/img/search_icon.png}" alt="Búsqueda" id="search_icon">
                    </button>
                </form>
            </li>
            <li>
                <div style="display: flex">
                    <form th:action="@{/shopping-cart}">
                        <button type="submit" class="nav__btn">
                            <img th:src="@{/img/cart_icon.png}" alt="Carrito de compras" id="cart_icon">
                        </button>
                    </form>
                    <form th:action="@{/login}">
                        <button type="submit" class="nav__btn">
                            <img th:src="@{/img/user_icon.png}" alt="Perfil de usuario" id="user_icon">
                        </button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>
</html>