<div th:fragment="_product-detail">
    <section style="background-color: #D9D9D9; height: 100%; max-height: 634px; display: flex; justify-content: center; align-items: flex-start; padding: 57px;">
        <img th:src="${juegoDetalle.imagenPortada}" alt="Foto de portada del juego" class="product__img" style="width: 100%;
        max-width: 432px;
        height: auto;
        margin-right: 100px;">
        <div id="containerText" style="max-width: 500px; width: 100%;">
            <div id="containerTitle" style="display: flex; justify-content: space-between;">
                <h2 class="gameTitle" th:text="${juegoDetalle.nombre}"></h2>
            </div>
            <p id="subtitle" style="font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 40px;
            margin-top: 0;
            margin-bottom: 10px;">EDICIÓN DIGITAL</p>

            <p th:text=" 'Precio: ' + ${juegoDetalle.precioSinDescuento} + 'ARS'" style="font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 30px;
                    margin-top: 0;
                    margin-bottom: 10px;"></p>
            <p th:text="'Descripción: '+${juegoDetalle.descripcion}" style="font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
            margin: 0;"></p>

            <p th:text="'Categoria: '+${categoria}" style="font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
            margin: 0;"></p>

            <p th:text="'Plataforma: '+${plataforma}" style="font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
            margin: 0;"></p>


            <p th:text="'Fecha de lanzamiento: '+${juegoDetalle.fechaLanzamiento} " style="font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
            margin: 0;"></p>

            <p th:text="'Tamaño: '+${juegoDetalle.tamanio} + 'GB' " style="font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
            margin: 0;"></p>
            <p>
            Juego Original y completo | Descargá desde tu consola <br>
            Incluye guía paso a paso  | Entrega inmediata <br>
            </p>
            <div class="buttonsContainer" style="display: flex; flex-direction: row; justify-content: left; margin: 20px 0px">

                <form th:action="@{/agregar/juego/{id}(id=${juegoDetalle.id})}" method="post" th:object="${juegoDetalle}" >
                    <!-- envio de cantidad-->
                            <span>
                                <p style="font-style: normal; font-weight: 500; font-size: 16px; line-height: 30px; margin: 0;">
                                Cantidad: <input type="number" id="cantidad" name="cantidad" value=1 style="width:220px; text-align:center" min="1" max="10" border-radius="10px" margin="10px">
                                </p>
                            </span>
                            <span>
                                <button type="submit" class="buttons-detail" id="shop-cart-btn">
                                <img id= "shop-cart-img" src="https://assets.webiconspng.com/uploads/2017/09/Shopping-Cart-PNG-Image-72455.png">
                                </button>
                             </span>
                </form>
                <form th:action="@{/comprar-ahora/juego/{id}(id=${juegoDetalle.id})}" method="post" th:object="${juegoDetalle}" >
                    <span>
                        <button type="submit" class="buttons-detail" id= "buy-now-btn">
                                COMPRAR AHORA
                        </button>
                    </span>

                    </form>

            </div>
        </div>
    </section>
</div>